<table class="header-table">
  <thead>
    <tr>
      <th rowspan="2">&nbsp;</th>
      <th colspan="{{if reliability "5" "2"}}" class="text-center cell-border-bottom">Selected Area</th>
      <th colspan="{{if reliability "5" "2"}}" class="text-center cell-border-bottom">Comparison Area</th>
      <th colspan="2" class="text-center cell-border-bottom">Difference</th>
    </tr>
    <tr>
      <th class="text-right cell-border-bottom">Number</th>
      {{#if reliability}}
        <th class="text-right cell-border-bottom">MOE</th>
        <th class="text-right cell-border-bottom">CV</th>
      {{/if}}
      <th class="text-right cell-border-bottom">Percent</th>
      {{#if reliability}}
        <th class="text-right cell-border-bottom">MOE</th>
      {{/if}}
      {{#if comparison}}
        <th class="text-right cell-border-bottom">Number</th>
        {{#if reliability}}
          <th class="text-right cell-border-bottom">MOE</th>
          <th class="text-right cell-border-bottom">CV</th>
        {{/if}}
        <th class="text-right cell-border-bottom">Percent</th>
        {{#if reliability}}
          <th class="text-right cell-border-bottom">MOE</th>
        {{/if}}
        <th class="text-right cell-border-bottom">Number</th>
        <th class="text-right cell-border-bottom">Pctg. Pt.</th>
      {{/if}}
    </tr>
  </thead>
</table>
{{yield}}
