{{#reveal-modal
  open=open
  closeModal=(action 'toggleModal')
}}
  <h1 class="header-xlarge">
    Big changes are coming. <br>
    We want to hear from you.
  </h1>

  <p class="lead">
    2020 Census data will soon be added to NYC Population FactFinder. With this addition, we’re planning upgrades to make it easier for you to view, download, and find the information you need.
  </p>

  <a class="button large expanded" href="https://forms.gle/Kim1eCtyjvfM7Nov8" target="_blank">
    Tell us how you use NYC&nbsp;Population&nbsp;FactFinder
  </a>

{{/reveal-modal}}
