<RevealModal @open={{this.open}} @closeModal={{action 'toggleModal'}}>
  <h1 class="header-large">
    NYC Population FactFinder is not optimized for mobile devices. 
  </h1>

  <p class="lead">
    Please use a desktop computer for the best experience.
  </p>
</RevealModal>
