<RevealModal @open={{this.open}} @closeModal={{action 'toggleModal'}}>
  <h1 class="header-large">
    NYC Population FactFinder is optimized for desktop screen widths. 
  </h1>

  <p class="lead">
    Mobile support for NYC Population FactFinder will be added in the future. For the best experience, please use a browser with a minimum width of 1280px. 
  </p>
</RevealModal>
