<RevealModal @open={{this.openModal}} @closeModal={{this.toggleModal}}>
  <h1 class="header-large">
    NYC Population FactFinder has been updated with data from the newly released 2020 Census Demographic & Housing Characteristics (DHC) file.
  </h1>

  <p class="lead">
    2016-2020 ACS data are still available under the Archive > Older Profiles sub-section of the ACS page on 
    <a target="_blank" href="https://www.nyc.gov/site/planning/planning-level/nyc-population/american-community-survey.page">NYC City Planning’s Population Division</a> website.
  </p>

  <h1 class="header-large mobile-header">
    NYC Population FactFinder is optimized for desktop screen widths. 
  </h1>

  <p class="lead mobile-body">
    Mobile support for NYC Population FactFinder will be added in the future. For the best experience, please use a browser with a minimum width of 1280px. 
  </p>
</RevealModal>
