{{#reveal-modal
  open=open
  closeModal=(action 'toggleModal')
}}
  <h1 class="header-xlarge">
    A note to our users about upcoming changes:
  </h1>

  <p class="lead">
    2020 Census Operations include the revision of small areaNYC Population FactFinder will be updated in early September 2021 to incorporate new 2020 Census redistricting data, the latest 2015-2019 American Community Survey (ACS) data, and new 2020 Census geographies. City Planning is introducing a new statistical geography, called Community District Tabulation Areas (CDTAs), which closely approximate NYC’s 59 Community Districts. Neighborhood Tabulation Areas (NTAs), which approximate neighborhoods, have been updated for 2020 and now nest within CDTAs. <a href="https://arcg.is/1bfCSm0" target="_blank">Click here to access an interactive guide to the 2020 Census geographic reconfiguration.</a>
  </p>
  
{{/reveal-modal}}
