{{#reveal-modal
  open=open
  closeModal=(action 'toggleModal')
}}
  <h1 class="header-xlarge">
    Big changes are coming. <br>
    We want to hear from you.
  </h1>

  <p class="lead">
    2020 Census data will soon be added to Population FactFinder. And with it, we're planning some upgrades that make it easier for you to view, share, and download the information you need. Please take a moment to fill out our survey. 
  </p>

  <a class="button large expanded" href="">
    Tell us how you use Population&nbsp;FactFinder
  </a>

  <p class="text-small">
    To understand how the census affects New York City and why it’s important, as well as DCP’s role in ensuring that census addresses are accurate, visit our <a href="https://www1.nyc.gov/site/planning/planning-level/nyc-population/nyc-2020-census-support.page">2020 Census support page</a>.
  </p>
{{/reveal-modal}}
