<RevealModal @open={{this.openModal}} @closeModal={{this.toggleModal}}>
  <h1 class="header-large mobile-header">
    NYC Population FactFinder is optimized for desktop screen widths. 
  </h1>

  <p class="lead mobile-body">
    Mobile support for NYC Population FactFinder will be added in the future. For the best experience, please use a browser with a minimum width of 1280px. 
  </p>

  <h1 class="header-large desktop-header">
    NYC Population FactFinder will be updated with the latest 2016-2020 American Community Survey (ACS) data in early August 2022.
  </h1>

  <p class="lead desktop-body">
    Current 2015-2019 ACS data will still be available via <a target="_blank" href="https://gcc02.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww1.nyc.gov%2Fsite%2Fplanning%2Fplanning-level%2Fnyc-population%2Famerican-community-survey.page&data=05%7C01%7CBMarchena%40planning.nyc.gov%7C89a5722e8d9548c963cb08da6f1286ab%7C32f56fc75f814e22a95b15da66513bef%7C0%7C0%7C637944422609862296%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&sdata=Hvq%2BZ8A3%2FLOfLXxM%2BWk9YYOvbsW3Uom7pXkCmG1pPOA%3D&reserved=0">NYC City Planning's Population Division webpage</a>, along with older datasets.
  </p>
</RevealModal>
