<RevealModal @open={{this.openModal}} @closeModal={{this.toggleModal}}>
  <h1 class='header-large'>
    NYC Population FactFinder will soon be updated with 2018-2022 American
    Community Survey (ACS) data and with Detailed Race/Ethnicity Responses from
    the 2020 Census.
  </h1>

  <h1 class='header-large mobile-header'>
    NYC Population FactFinder is optimized for desktop screen widths.
  </h1>

  <p class='lead mobile-body'>
    Mobile support for NYC Population FactFinder will be added in the future.
    For the best experience, please use a browser with a minimum width of
    1280px.
  </p>
</RevealModal>