<div class="layer-group-toggle-title">
  {{#labs-ui/layer-group-toggle
    label=this.model.legend.label
    active=this.model.visible
    icon=this.model.legend.icon
  }}
  {{/labs-ui/layer-group-toggle}}
</div>
{{#if this.model.visible}}
    <div class="layer-menu-item-content">
      {{~yield (hash
        model=this.model
        updatePaintFor=(action 'updatePaintFor')
      )~}}
    </div>
{{/if}}
