<div
  id="data-explorer-toolbar"
  class="grid-container fluid"
>
  <div class="grid-x grid-margin-x">
    <div class="cell small-6 bar-item">
      <Explorer::SourceSelectDropdown
          @sources={{@sources}}
          @setSources={{@setSources}}
      />
    </div>
  </div>

  <div class="cell small-6 bar-item">
    <Explorer::TopicSelectDropdown
        @topics={{@topics}}
        @setTopics={{@setTopics}}
    />
  </div>
  <div class="cell auto">
    <OrangeBarDataExplorerDownloadCsv />
  </div>
</div>
