<div
  class="loading-wrapper"
  aria-busy="true"
  aria-live="polite"
  aria-label="Loading"
>
  <lottie-player
    src="/dcp-loading-screen.json"
    background="transparent"
    speed="1"
    style="width:500px; height:500px;"
    mode="normal"
    loop
    autoplay
  >
  </lottie-player>
</div>
