<ul class="comma-separated-list">
  {{#each this.sortedLabels as |boro|}}
    {{#if boro.features.length}}
      <li><strong>{{boro.label}}: </strong>{{boro.features.length}}</li>
    {{/if}}
  {{/each}}
</ul>
