<div class="switch tiny float-left">
  <input class="switch-input" type="checkbox" checked={{checked}}>
  <label class="switch-paddle">
    <span class="show-for-sr"></span>
  </label>
</div>
{{yield}}
