<h1>Census Profile</h1>

{{!-- Tables --}}

{{!-- 
  decennial_median_age_for_blocks_only
  decennial_dictionary
  decennial_hispanic_subgroup
  decennial_median_age_exl_blocks
  decennial_sex_age
  decennial_mutually_exclusive_race
  decennial_population_density
  decennial_asian_subgroup
  decennial_relationship_head_householder
  decennial_household_type
  decennial_housing_occupancy
  decennial_housing_tenure
  decennial_tenure_by_age
  decennial_household_size
  decennial_poppyramid_only 
--}}

{{#decennial-table category='decennial_sex_age' as |table|}}
  {{acs-table
    reliability=false
    comparison=true
    config=sexAge
    t1=table.categoryData.y2000
    t2=table.categoryData.y2010
  }}
{{/decennial-table}}

{{!-- {{#decennial-table category='decennial_asian_subgroup' as |table|}}
  {{acs-table
    reliability=false
    comparison=true
    config=asianSubgroup
    t1=table.categoryData.y2000
    t2=table.categoryData.y2010
  }}
{{/decennial-table}}

{{#decennial-table category='decennial_hispanic_subgroup' as |table|}}
  {{acs-table
    reliability=false
    comparison=true
    config=hispanicSubgroup
    t1=table.categoryData.y2000
    t2=table.categoryData.y2010
  }}
{{/decennial-table}} --}}

{{outlet}}
