.nestable-list-item {
  &.clickable {
    &:hover {
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;  
    }
  }

  padding: 7px 5px;
}

.nestable-list-item:not(:last-child) {
  border-bottom: 1px solid rgb(223, 225, 229);
}
