.nestable-list-item {
  &.clickable {
    &:hover {
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;  
    }
  }
}
