@import 'util/util';
@import 'nyc-planning-variables';

// HACK!!! This should be fixed in Labs UI
$hr-width: auto;
$table-border: 1px solid $silver;
$topbar-background: $white;
$topbar-padding: 0rem 1.25rem;

//
// Foundation
// --------------------------------------------------
@import 'foundation';

@include foundation-global-styles;
@include foundation-xy-grid-classes;
@include foundation-flex-classes;
@include foundation-typography;
@include foundation-forms;
@include foundation-button;
@include foundation-badge;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;

//
// Custom App Modules
// --------------------------------------------------
@import 'modules/_m-colors'; // ported from labs-ui
@import 'modules/_m-site-header'; // ported from labs-ui
@import 'base/_typography';
@import 'layouts/_l-default';
@import 'modules/_m-more-options';
@import 'modules/_m-charts';
@import 'modules/_m-dropzone';
@import 'modules/_m-maps';
@import 'modules/_m-toolbar';
@import 'modules/_m-reveal-modal';
@import 'modules/m-layer-groups-menu';
@import 'modules/_m-search';
@import 'modules/_m-spinner';

@import "ember-power-select";

// Component styles
@import 'modules/components/explorer/topic-select-dropdown';
@import 'modules/components/explorer/source-select-dropdown';
@import 'modules/components/explorer/download-data-dropdown';
@import 'modules/components/explorer/modify-tables-menu.scss';
@import 'modules/components/ui/nestable-list-item';

