// --------------------------------------------------
// Default Layout
// --------------------------------------------------

body {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;

  html, & {
    @include breakpoint(large) {
      max-height: 100vh;
      overflow: hidden;
    }
  }
}

.relative {
  position: relative;
}

.site-header {
  position: relative;
  z-index: 2;
}

.site-main {
  position: relative;
  z-index: 2;
  height: calc(100vh - 6rem);

  a {
    @include breakpoint(small only) {
      padding-right: 0.75rem;
      padding-left: 0.75rem;
    }
  }

  li:hover {
    background-color: rgba(0,0,0,0.03);
  }

  @include breakpoint(large) {
    z-index: 1;
    overflow: hidden;
  }

  .overflow-y-grid {

    @include breakpoint(large) {
      @include xy-grid(vertical, true);
      height: calc(100vh - 7.25rem);
      overflow: hidden;

      > .cell {
        @include xy-cell-block($vertical:true);
      }
    }
  }
}

.menu--selector {
  position: relative;
  z-index: 3;
  background-color: $white;
  font-size: rem-calc(12);
  font-weight: $global-weight-bold;
  box-shadow: 0 4px 0 0 rgba(0,0,0,0.1);
  overflow: hidden;

  @include breakpoint(large) {
    position: absolute;
    top: rem-calc(58);
    left: 50px;
    background-color: $light-gray;
    border-radius: 4px;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.1);

    li:not(:last-child) {
      border-right: 1px solid rgba(0,0,0,0.1);
    }
  }
}

.map-container {
  @include xy-cell-static(full,false,0);
  position: relative;
  z-index: 1;
  height: 50vh;

  @include breakpoint(large) {
    height: 100%;
  }
}

.profile-map-container {
  height: 30vh;
  width: 100%;
  border: 1px solid $medium-gray;

  @include breakpoint(large) {
    height: 100%;
  }
}

.edit-selection-button {
  position: absolute;
  z-index: 2;
  top: rem-calc(10);
  right: rem-calc(10);
  box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
  border-radius: 4px;
}

.map-utility-box {
  background-color: $white;
  padding: $global-margin;
  position: relative;

  @include breakpoint(large) {
    position: absolute;
    top: 10px;
    left: 50px;
    z-index: 4;
    margin-top: rem-calc(92);
    width: rem-calc(320);
    box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
  }

  > :last-child {
    margin-bottom: 0;
  }

  .button--clear-selection {
    padding: 0.375rem;

    @include breakpoint(large) {
      position: absolute;
      top: 100%;
      left: 0;
      background-color: $white;
      margin-top: rem-calc(10);
      box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
      font-size: rem-calc(12);
      padding: 0.75em 0.875em;
      border-radius: 4px;
    }
  }
}

.search {
  position: relative;
  bottom: 50vh;
  left: -$global-margin;
  z-index: 100;
  margin-left: 50px;

  @include breakpoint(large) {
    position: absolute;
    top: 0;
    bottom: auto;
    left: 0;
    width: rem-calc(300);
    margin-left: 0;
    margin-top: rem-calc(-92);
  }
}

.selection-tools {
  margin: 0;
  padding: 0 0 0 1rem;

  @include breakpoint(large) {
    // position: absolute;
    // top: 0;
    // right: auto;
    // left: calc(100% + 10px);
    // z-index: 2;
  }

  button {
    @include button(false, $white, #f2f2f2, $primary-color, solid);
    border-radius: 4px;
    white-space: nowrap;
    font-size: rem-calc(12);
    padding: rem-calc(6) rem-calc(10) rem-calc(5) rem-calc(8);

    @include breakpoint(large) {
      box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
    }

    &.active {
      @include button-style($primary-color, auto, $white);
    }

    .fa {
      display: inline-block;
      vertical-align: middle;
      font-size: rem-calc(19);
    }
  }
}

.profile-content > .cell,
.profile-sidebar {
  padding: 0 rem-calc(20);
}

.profile-content > .cell {

  @include breakpoint(large) {
    padding-left: 0;
  }
}

// HACK: dot and pulse misalign without this.
.mapboxgl-user-location-dot {
  box-sizing: initial;
}

.no-bookmarks {
  @include breakpoint(large) {
    color: $dark-gray;
    height: 100%;
    display: flex;
  }
}
