
// --------------------------------------------------
// Base: Typography
// --------------------------------------------------

//
// Headings
// --------------------------------------------------
.header-xxlarge { @extend h1; }
.header-xlarge {  @extend h2; }
.header-large {   @extend h3; }
.header-medium {  @extend h4; }
.header-small {   @extend h5; }
.header-tiny {    @extend h6; }

h6,
.header-tiny {
  text-transform: uppercase;
  font-weight: $global-weight-normal;
  margin-bottom: 0.5em;
}


//
// Buttons
// --------------------------------------------------
button {
  cursor: pointer;
}

.button.gray {
  background-color: $white-smoke;
  color: darken($primary-color, 10%);

  &:hover {
    background-color: darken($white-smoke, 10%);
    color: darken($primary-color, 20%);
  }
}


//
// Typography helper classes
// --------------------------------------------------
.nowrap,
.no-wrap {
  white-space: nowrap;
}

.text-small {
  font-size: rem-calc(13);
  line-height: 1.7;
}

.text-tiny {
  font-size: rem-calc(10);
  line-height: 1.5;
}

.text-weight-normal {
  font-weight: $global-weight-normal;
}

.text-weight-bold {
  font-weight: $global-weight-bold;
}


//
// Margin helper classes
// --------------------------------------------------
.no-margin {
  margin: 0 !important;
}

$sides: top right bottom left;
@each $side in $sides {
  $i: index($sides, $side);

  .no-margin-#{$side} {
    margin-#{$side}: 0 !important;
  }

  .tiny-margin-#{$side} {
    margin-#{$side}: $global-margin/4 !important;
  }

  .small-margin-#{$side} {
    margin-#{$side}: $global-margin/2 !important;
  }

  .medium-margin-#{$side} {
    margin-#{$side}: $global-margin !important;
  }

  .large-margin-#{$side} {
    margin-#{$side}: $global-margin*2 !important;
  }
}


//
// Inputs
// --------------------------------------------------
::-ms-clear {
  // nix IE's default clear buttons
  display: none;
}

// --------------------------------------------------
// Base: Typography
// --------------------------------------------------

//
// Headings
// --------------------------------------------------
.content-header {
  @extend h3;
  margin-bottom: rem-calc(10);

  .landmark {
    display: block;
    margin-bottom: 0;
  }

  .landmark + .address {
    display: block;
    @extend h4;
    margin-bottom: 0;
  }
}

.header-label {
  color: $dark-gray;
  font-size: rem-calc(13);
}


//
// Buttons
// --------------------------------------------------
button {
  cursor: pointer;

  &.save-button {
    float: right;
    font-size: rem-calc(12);
    padding: 0.25rem 0.5rem;
    outline: 0;
    position: relative;
    transition: padding 0.5s;

    &.saved {
      padding-right: 2.5rem;
    }

    .state {
      color: darken($success-color, 30%);
      font-size: rem-calc(10);
      line-height: rem-calc(12);
      font-weight: $global-weight-bold;
      position: absolute;
      top: 50%;
      left: 1.5rem;
      margin-top: rem-calc(-6);
      opacity: 0;
      transition: opacity 0.5s;
    }
    &.saved .state {
      opacity: 1;
    }

    .fa {
      color: darken($medium-gray, 20%);
      font-size: rem-calc(16);
      vertical-align: middle;
      transition: color 0.5s;

      &:hover {
        color: darken($medium-gray, 30%);
      }
    }

    &.saved .fa {
      color: $success-color;
    }
  }
}

.view-profile-button {
  font-size: rem-calc(24) !important;
  padding: rem-calc(10);
  line-height: 1.2;

  small {
    display: block;
    color: $a11y-yellow;
  }
}

.button.text-orange {
  color: $primary-color;
}


//
// Badges
// --------------------------------------------------
.badge {
  font-weight: $global-weight-normal;
  line-height: 1.5;
  vertical-align: middle;

  &.sup {
    position: relative;
    transform: translate(0, -50%);
  }
}


//
// Typography helper classes
// --------------------------------------------------
.pipe {
  opacity: 0.25;
  margin-right: 0.25em;
  margin-left: 0.25em;
}

.link {
  cursor: pointer;
  color: $anchor-color;

  &:hover {
    color:$anchor-color-hover;
  }
}

.comma-separated-list {
  list-style: none;
  margin-left: 0;

  li {
    display: inline;

    &:not(:last-of-type):after {
      content: ',';
    }
  }
}


//
// Site Header - External links
// --------------------------------------------------
.external-nav-item {
  a { color: $light-gray !important;}
  a:hover { color: $primary-color !important; }
}


.active-route {
  color: $primary-color !important;
}

//
// Profiles
// --------------------------------------------------
.profile-controls {
  margin-bottom: $global-margin;
}

.profile-geographies {
  max-height: 5.75em;
  overflow: auto;
  font-size: rem-calc(12);
  margin-bottom: $global-margin/2;

  .profile-geographies-header {
    display: inline;
    font-size: rem-calc(14);
  }

  .profile-geographies-list {
    display: inline;
    font-size: rem-calc(12);
  }
}

.profile-comparison-controls {
  font-size: rem-calc(14);
  margin-top: $global-margin/2;
  margin-bottom: $global-margin/2;
}

.profile-checkbox-controls {
  font-size: rem-calc(14);
}

.profile-header {
  @include breakpoint(large) {
    min-height: rem-calc(230);
  }

  h1 {
    margin-bottom: 0.25rem;
  }

  h1, h2, p, ul, .profile-geographies {
    @include breakpoint(large) {
      max-width: rem-calc(660);
    }
  }
}

.profile-menus {
  @include clearfix;
  margin-top: $global-margin;
  margin-bottom: $global-margin;

  @include breakpoint(medium) {
    border-bottom: 1px solid $silver;
  }

  @include breakpoint(large) {
    padding-top: rem-calc(12);
  }
}

.profile-mode {

  h2 + h2 {
    margin-top: $global-margin*-0.75;
  }

  a {
    color: inherit;
  }
}

.menu.tabs {

  li {
    position: relative;
  }

  @include breakpoint(small only) {

    li:not(:first-child) {
      border-top: 1px solid $silver;
    }

    a:not(.active) {
      background-color: rgba(0,0,0,0.03);
    }

    a.active {
      background-color: $silver;
      color: $body-font-color;
      box-shadow: 0 -1px 0 0 rgba(0,0,0,0.2);
    }
  }

  @include breakpoint(medium) {
    font-size: rem-calc(12);
    margin-bottom: -1px;
    float: left;

    li {
      &:hover {
        background-color: transparent;
      }

      a {
        border: 1px solid transparent;
        border-bottom-width: 0;
        background-color: transparent;
        font-weight: $global-weight-bold;

        &:not(.active) {
          border-right-color: transparent;
          border-left-color: transparent;
          box-shadow: inset 0 -1px 0 0 $silver;
        }

        &.active {
          background-color: $body-background;
          border-color: $silver;
          color: $body-font-color;
          float: left;
        }
      }
    }
  }

  .disabled {
    color: $medium-gray;
    cursor: text;

    .fa-exclamation-triangle {
      margin-top: -1px;
    }
  }

  .tab-dropdown-trigger {
    margin-top: -1px;
  }

  .tab-popover {
    top: 100% !important;
    left: 1px !important;
    width: rem-calc(240);
    margin-top: -1px !important;
    box-shadow: 0 1px 0 1px rgba(0,0,0,0.1);
    transform: none !important;
    text-align: left;

    li {
      border-top: 1px solid #eee;
      background-color: $white;

      &:hover {
        background-color: $a11y-yellow;
      }

      a {
        line-height: 1.2;
        box-shadow: none;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-weight: $global-weight-normal;
      }
    }
  }

  .back-to-map {
    position: relative;
    top: -0.75rem;
    left: -0.5rem;
    border: 0 !important;

    a {
      box-shadow: none !important;
      border: 0 !important;
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }

    a:hover {

      .fa-map {
        color: $a11y-orange;
      }
    }
  }
}


//
// Tables
// --------------------------------------------------
.table-scroll table,
.table-scroll {
  min-width: 100%;
  // transform:rotateX(180deg);
  margin: 0;
}

thead th,
tbody td,
tbody th {
  padding: .3125rem .4375rem .375rem;
}

.data-table {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: -1.5rem;

  table {
    margin-bottom: 0;
  }
}

thead {
  font-size: rem-calc(11);
}

tbody {
  font-size: rem-calc(13);
}

th {
  border: 1px solid $silver;
  vertical-align: bottom;
}

td:not(:first-child) {
  text-align: right;
}

td, th {
  // 82 allows for numbers up to 99,999,999
  min-width: rem-calc(82);
  max-width: rem-calc(82);
}

thead tr:first-child th:first-child,
tbody td:first-child {
  min-width: rem-calc(160);
  max-width: rem-calc(160);
  border-left: 0;
}

.row-highlight {
  td {
    background-color: transparentize($lu-peach, 0.7);
    // font-weight: $global-weight-bold;
  }
}

// Selectable rows
tr {
  &:hover td,
  &.is-selected td {
    background-color: transparentize($lu-blue, 0.8);
  }
}

.row-divider {
  td, th {
    background-color: $body-background;
    border-bottom: 1px solid $silver;
    height: 1.5rem;
  }
}

.row-indent {
  &-x1 td:first-child {
    padding-left: rem-calc(21);
  }

  &-x2 td:first-child {
    padding-left: rem-calc(35);
  }

  &-x3 td:first-child {
    padding-left: rem-calc(49);
  }

  &-x4 td:first-child {
    padding-left: rem-calc(63);
  }
}

.cell-border-left {
  border-left: 1px solid $silver;
}

.table-copy-ui {
  text-align: right;

  a {
    bottom: 0;
    margin: 0;
    border-bottom: 0;
    border-top-right-radius: rem-calc(4);
    border-top-left-radius: rem-calc(4);
  }
}

.shows-signficance .insignificant { color: $silver; }

.no-compare-message {
  overflow: visible;

  div {
    // width: 40em;
    // padding: 0.3125rem 0.4375rem 0.375rem;
    // margin: -0.3125rem -0.4375rem -0.375rem;
    white-space: nowrap;
    color: $gray;
    font-style:italic;
    font-size: rem-calc(10);
  }
}


//
// Callouts
// --------------------------------------------------
.callout {
  padding: 0.625rem;
  margin-bottom: rem-calc(20);

  @include breakpoint(medium) {
    margin-bottom: rem-calc(30);
  }

  @include breakpoint(large) {
    margin-bottom: rem-calc(40);
  }
}

.profile-header .callout {

  @include breakpoint(medium) {
    margin-bottom: $global-margin;
  }
}


//
// Statistics
// --------------------------------------------------
.stat-header {
  font-size: 1rem;
  margin-bottom: rem-calc(5);
}
.stat-footer {
  display: block;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}


//
// Draw Tool
// --------------------------------------------------
.draw-tools--container {
  position: relative;
  width: 150px;
  height: 33.21px;
  left: 25px;
  z-index: 2;

  .fa {
    display: inline-block;
    vertical-align: middle;
    font-size: rem-calc(19);
  }
}

.draw-tools--trigger {
  border-radius: 5px;
}

.draw-tools {

  @include breakpoint(large) {
    display: none;
    padding: rem-calc(4);
    background-color: $white;
    border-radius: 6px;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.1);

    .draw-tools--container:hover &,
    &.active {
      display: block;
      position: absolute;
      top: 33.21px;
      left: 0;
    }
  }
}

.draw-tool {
  margin: 0;
  white-space: nowrap;
  width: calc(50% - 20px);

  @include breakpoint(medium) {
    width: 8.25em;
  }

  @include breakpoint(large) {
    &:not(.hide-for-large) + & {
      margin-top: rem-calc(4);
    }
  }

  &.active,
  &.button:focus,
  &.button:hover {
    color: $white;
    background-color: $primary-color;
  }
}
