// --------------------------------------------------
// Base: Typography
// --------------------------------------------------

//
// Headings
// --------------------------------------------------
.header-xxlarge { @extend h1; }
.header-xlarge {  @extend h2; }
.header-large {   @extend h3; }
.header-medium {  @extend h4; }
.header-small {   @extend h5; }
.header-tiny {    @extend h6; }

h6,
.header-tiny {
  text-transform: uppercase;
  font-weight: $global-weight-normal;
  margin-bottom: 0.5em;
}

.content-header {
  @extend h3;
  margin-bottom: rem-calc(10);

  .landmark {
    display: block;
    margin-bottom: 0;
  }

  .landmark + .address {
    display: block;
    @extend h4;
    margin-bottom: 0;
  }
}

.header-label {
  color: $dark-gray;
  font-size: rem-calc(13);
}


//
// Buttons
// --------------------------------------------------
button {
  cursor: pointer;

  &.save-button {
    float: right;
    font-size: rem-calc(12);
    padding: 0.25rem 0.5rem;
    outline: 0;
    position: relative;
    transition: padding 0.5s;

    &.saved {
      padding-right: 2.5rem;
    }

    .state {
      color: darken($success-color, 30%);
      font-size: rem-calc(10);
      line-height: rem-calc(12);
      font-weight: $global-weight-bold;
      position: absolute;
      top: 50%;
      left: 1.5rem;
      margin-top: rem-calc(-6);
      opacity: 0;
      transition: opacity 0.5s;
    }
    &.saved .state {
      opacity: 1;
    }

    .fa {
      color: darken($medium-gray, 20%);
      font-size: rem-calc(16);
      vertical-align: middle;
      transition: color 0.5s;

      &:hover {
        color: darken($medium-gray, 30%);
      }
    }

    &.saved .fa {
      color: $success-color;

      // &:hover {
      //   color: darken($success-color, 10%);
      // }
    }
  }
}

.button.text-orange {
  color: $primary-color;
}


//
// Badges
// --------------------------------------------------
.badge {
  font-weight: $global-weight-normal;
  line-height: 1.5;
  vertical-align: middle;

  &.sup {
    position: relative;
    transform: translate(0, -50%);
  }
}


//
// Typography helper classes
// --------------------------------------------------
.nowrap {
  white-space: nowrap;
}
.no-margin {
  margin: 0 !important;
}
.small-margin-bottom {
  margin-bottom: rem-calc(5);
}

.text-small {
  font-size: rem-calc(13);
}

.text-tiny {
  font-size: rem-calc(10);
  line-height: 1.5;
}

.text-weight-normal {
  font-weight: $global-weight-normal;
}
.text-weight-bold {
  font-weight: $global-weight-bold;
}

.pipe {
  opacity: 0.25;
  margin-right: 0.25em;
  margin-left: 0.25em;
}

.link {
  cursor: pointer;
  color: $anchor-color;

  &:hover {
    color:$anchor-color-hover;
  }
}

.light-gray { color: $light-gray; }
.medium-gray { color: $medium-gray; }
.dark-gray { color: $dark-gray; }
.black { color: $black; }
.dcp-orange { color: $dcp-orange; }
.dcp-yellow { color: $dcp-yellow; }
.a11y-yellow { color: $a11y-yellow; }

// Land Use colors
.lu-peach { color: $lu-peach; }
.lu-yellow { color: $lu-yellow; }
.lu-magenta { color: $lu-magenta; }
.lu-red { color: $lu-red; }
.lu-orange { color: $lu-orange; }
.lu-pink { color: $lu-pink; }
.lu-green { color: $lu-green; }
.lu-blue { color: $lu-blue; }
.lu-lavendar { color: $lu-lavendar; }
.lu-silver { color: $lu-silver; }
.lu-gray { color: $lu-gray; }

.comma-separated-list {
  list-style: none;
  margin-left: 0;

  li {
    display: inline;

    &:not(:last-of-type):after {
      content: ',';
    }
  }
}


//
// Ember Tooltip
// --------------------------------------------------
.ember-tooltip {
  font-size: rem-calc(10);
}


//
// Profiles
// --------------------------------------------------
.profile-controls {
  margin-bottom: $global-margin;
}

.profile-geographies {
  max-height: 5.75em;
  overflow: auto;
  font-size: rem-calc(12);
  margin-bottom: $global-margin/2;

  .profile-geographies-header {
    display: inline;
    font-size: rem-calc(14);
  }

  .profile-geographies-list {
    display: inline;
    font-size: rem-calc(12);
  }
}

.profile-comparison-controls {
  font-size: rem-calc(14);
  margin-bottom: $global-margin/2;
}

.profile-reliability-controls {
  font-size: rem-calc(14);
}

.profile-header {

  h1 {
    margin-bottom: 0.25rem;
  }

  h1, h2, p, ul, .profile-geographies {
    @include breakpoint(large) {
      max-width: rem-calc(660);
    }
  }
}

.profile-menus {
  @include clearfix;
  margin-top: $global-margin;
  margin-bottom: $global-margin;

  @include breakpoint(medium) {
    border-bottom: 1px solid $medium-gray;
  }

  @include breakpoint(large) {
    padding-top: rem-calc(12);
  }
}

.profile-mode {

  h2 + h2 {
    margin-top: $global-margin*-0.75;
  }

  a {
    color: inherit;
  }
}

.menu.tabs {

  @include breakpoint(small only) {

    a:not(.active) {
      background-color: rgba(0,0,0,0.03);
    }

    a.active {
      background-color: $medium-gray;
      color: $body-font-color;
    }
  }

  @include breakpoint(medium) {
    font-size: rem-calc(12);
    margin-bottom: -1px;
    // flex-wrap: nowrap;
    float: left;

    li {
      &:hover {
        background-color: transparent;
      }

      a {
        border: 1px solid transparent;
        border-bottom-width: 0;
        background-color: transparent;
        white-space: nowrap;

        &:not(.active) {
          border-right-color: transparent;
          border-left-color: transparent;
          box-shadow: inset 0 -1px 0 0 $medium-gray;
        }

        &.active {
          background-color: $body-background;
          border-color: $medium-gray;
          color: $body-font-color;
        }
      }
    }
  }

  .disabled {
    color: $medium-gray;
    cursor: text;
  }
}


//
// Tables
// --------------------------------------------------
.table-scroll table,
.table-scroll {
  min-width: 100%;
  transform:rotateX(180deg);
  margin: 0;
}

.table-scroll-vert {

  thead,
  tbody {
    display: block;
    float: left;
    clear: left;
  }

  thead {
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
  }

  tbody {
    height: calc(60vh - 15rem);
    border-top: 0;
  }

  thead,
  tbody {
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

th {
  border: 1px solid $medium-gray;
  vertical-align: bottom;
}

td:not(:first-child) {
  text-align: right;
}

td, th {
  // 82 allows for numbers up to 99,999,999
  min-width: rem-calc(82);
  max-width: rem-calc(82);
}

thead tr:first-child th:first-child,
tbody td:first-child {
  min-width: rem-calc(160);
  max-width: rem-calc(160);
  border-left: 0;
}

.table-section-header td {
  background-color: lighten($medium-gray, 6%);

  font-weight: $global-weight-bold;
  font-size: 1.2em;
}
.th-large {
  font-size: 1.2em;
}

.row-highlight {
  td {
    background-color: transparentize($lu-peach, 0.5);
    // font-weight: $global-weight-bold;
  }
}

.row-divider {
  td, th {
    background-color: $body-background;
    border-bottom: 1px solid $medium-gray;
    height: 1.5rem;
  }
}

.row-indent {
  &-x1 td:first-child {
    padding-left: rem-calc(21);
  }

  &-x2 td:first-child {
    padding-left: rem-calc(35);
  }

  &-x3 td:first-child {
    padding-left: rem-calc(49);
  }

  &-x4 td:first-child {
    padding-left: rem-calc(63);
  }
}

.cell-border-left {
  border-left: 1px solid $medium-gray;
}

.table-copy-ui {
  position: relative;

  a {
    position: absolute;
    right: $global-margin;
    bottom: 0;
    margin: 0;
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

//
// Callouts
// --------------------------------------------------
.callout {
  margin-bottom: rem-calc(20);

  @include breakpoint(medium) {
    margin-bottom: rem-calc(30);
  }

  @include breakpoint(large) {
    margin-bottom: rem-calc(40);
  }
}

.profile-header .callout {

  @include breakpoint(medium) {
    margin-bottom: $global-margin;
  }
}


//
// Statistics
// --------------------------------------------------
.stat-header {
  font-size: 1rem;
  margin-bottom: rem-calc(5);
}
.stat-footer {
  display: block;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}
