// --------------------------------------------------
// Module: Charts
// --------------------------------------------------

.age-chart {
  .bar:hover {
    cursor: pointer;
  }

  .bar.male {
    fill: #f37648;

    &.highlight {
      fill: #e36638;
    }
  }

  .bar.female {
    fill: #fecc67;

    &.highlight {
      fill: #eebc57;
    }
  }

  .axis line, .axis path {
    stroke-width: 0;
  }

  .bar-label {
    font-size: 0.6rem;
    transition: opacity 0.1s linear;
  }

  .moe {
    rx: 2;
    pointer-events: none;
  }

  .moe.male {
    fill: #ffb499;
  }

  .moe.female {
    fill: #ffe8ba;
  }

  .comparison {
    fill: #fff;
    stroke: #000;
  }
}

.age-chart-tooltip {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  height: 42px;
  padding: rem-calc(8);
  background: $light-gray;
  color: $black;
  text-align: center;
  font-size: rem-calc(12);
  line-height: 1.2;
}
