// --------------------------------------------------
// Module: Charts
// --------------------------------------------------

.horizontal-bar {
  position: relative;
}

.age-chart,
.age-chart-key {
  .bar:hover {
    cursor: pointer;
  }

  .bar {
    fill: rgb(96, 172, 191);

    &.highlight {
      fill: rgb(162,76, 14);
    }
  }

  .axis line, .axis path {
    stroke-width: 0;
  }

  .bar-label {
    font-size: 0.6rem;
    transition: opacity 0.1s linear;
  }

  .moe {
    rx: 2;
    pointer-events: none;
  }

  .moe {
    fill: darken(rgb(96, 172, 191), 25%);
    opacity: 0.4;
  }

  .comparison {
    fill: #fff;
    stroke: #000;
  }

}

.age-chart-tooltip {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  height: 58px;
  padding: rem-calc(8);
  border-top: 1px solid $medium-gray;
  color: $black;
  text-align: center;
  font-size: rem-calc(12);
  line-height: 1.2;
}

.age-chart-key {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 58px;
  left: 0;
  height: 45px;
  border-top: 1px solid $medium-gray;
  // background-color: rgba(255,255,0,0.1);

  text {
    font-size: 10px;
  }

  .bar {}
  .bar-moe {}
  .comparison {}
  .comparison-moe {}
}

.callout .chart .highlight {
  fill: rgb(162,76, 14);
}

.buildingsbar:hover {
  cursor: pointer;
}
