// --------------------------------------------------
// Module: Dropzone
// --------------------------------------------------
.dropzone {
  color: $dark-gray;
  border: rem-calc(2) dashed $light-gray;
  background-color: #F5F5F5; 
  font-size: 0.625rem;
  padding: 0.75rem 0;
  margin: 0.75rem;
  min-height: unset;
  border-radius: rem-calc(10);
  text-align: center;


  &.dz-clickable {
    cursor: pointer;
  }

  .dz-default.dz-message {
    color: $dark-gray;
    margin: 0;

    span {
      display: block;
    }

    &::after {
      @include button(
        $expand:false,
        $background: $white-smoke,
        $background-hover: $silver,
        $style:solid
      );
      content: 'or choose a file';
      font-size: 0.625rem;
      font-weight: $global-weight-normal;
      text-decoration: underline;
      padding: 0;
      margin: 0;
    }
  }

  .dz-preview {
    margin: 0;
    min-height: 0;

    &:not(:last-child) {
      display: none;
    }

    .dz-image {
      display: none;
    }

    .dz-details {
      position: relative;
      font-size: rem-calc(12);
      color: $black;
      line-height: 1.5;
      padding: 0;
      margin: 0 0 0.5rem;

      .dz-size {
        display: none;
        // margin-bottom: 0.5em;
        // font-size: rem-calc(16);

        // span {
        //   background-color: transparent;
        //   padding: 0;
        //   border-radius: 0;
        // }
      }

      .dz-filename {
        span {
          background-color: transparent;
          padding: 0;
          border-radius: 0;
          outline: 0;
          border: 0 !important;
        }
      }
    }

    .dz-progress {
      display: none;
    }

    .dz-remove {
      @include button(
        $expand:false,
        $background:$white-smoke,
        $background-hover:$silver,
        $color:$primary-color,
        $style:solid
      );
      font-size: rem-calc(12);
      text-decoration: none !important;
      margin: 0;
    }
  }
}
