// --------------------------------------------------
// Module: Map Utility Box
// --------------------------------------------------

.map-utility-box {
  position: absolute;
  z-index: 2;
  width: 400px;
  height: 200px;
  background-color: white;
  margin: 2rem;
}
