// --------------------------------------------------
// Module: Search
// --------------------------------------------------

.search {
  width: 200px;
  height: 40px;
  position: relative;
  
  input.map-search-input {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 2.5rem 0 0.75rem;
    border-radius: 5px;
    background-color: #ECEDEE;
    margin: 0;
    max-width: unset;
    border: none;
  }

  .close-button {
    margin-top: rem-calc(-6);
    right: rem-calc(10);
  }

  .search-icon {
    position: absolute;
    color: $charcoal;
    pointer-events: none;
    right: 12px;
    top: 8px;
  }
}

.search-results {
  z-index: 5;
  background-color: rgba($white,0.94);
  color: $charcoal;
  text-align: left;
  font-size: rem-calc(12);
  width: 100%;
  position: absolute;
  right: auto;
  bottom: auto;
  left: -9999px; // hide by default, show with .focused
  box-shadow: 0 2px 0 rgba(0,0,0,0.1);
  opacity: 0;
  transition: opacity 0.5s, left 0;
  transition-delay: 0.2s;

  @include breakpoint(large) {
    width: 22rem;
    box-shadow: 4px 4px 0 rgba(0,0,0,0.1);
    max-height: calc(100vh - 9.375rem);
    overflow: auto;
  }

  &.focused {
    left: 0;
  }

  &.has-results {
    opacity: 1;
  }

  .results-header {
    border-bottom: 1px solid #ECEDEE;

    h4 {
      margin: rem-calc(10) 0 0;
    }
  }

  li:first-child .results-header {
    margin-top: 0;
  }

  li {
    padding: 0.75rem;
  }

  .result {
    cursor: pointer;
    transition: $button-transition;

    &[data-ember-action]:not(:disabled) {
      cursor: pointer;
    }

    &:hover,
    &.highlighted-result {
      background-color: #ECEDEE;
    }
  }
}

.highlighted-result {
  background-color: $medium-gray;
}

.search-results--loading {
  z-index: 5;
  padding: $global-margin/2;
  color: $dark-gray;
  background-color: rgba($white,0.94);
  font-size: rem-calc(12);
  width: 100%;
  position: absolute;
  top: 100%;
  right: 0;
  bottom: auto;
  left: 0;
  box-shadow: 0 2px 0 rgba(0,0,0,0.1);

  @include breakpoint(large) {
    width: auto;
    padding: rem-calc(6);
    color: $body-font-color;
    font-weight: $global-weight-bold;
  }
}
