// --------------------------------------------------
// Module: Selection Helpers
// --------------------------------------------------

$selection-helper-margin: rem-calc(6);
$selection-helper-hover-color: rgba($dark-gray,0.08);

.selection-helpers {

  @include breakpoint(large) {
    @include xy-grid(vertical, true);
    height: 100%;
    overflow: hidden;
  }
}

.selection-helpers-header {
  padding: $selection-helper-margin;
  border-bottom: 1px solid $medium-gray;

  @include breakpoint(large) {
    @include xy-cell(
      $size:shrink,
      $gutter-output: false,
      $vertical: true
    );
  }

  h3 {
    font-size: rem-calc(14);
    margin-bottom: $selection-helper-margin/2;
  }

  p {
    margin-bottom: 0;
  }

  .button {
    margin-bottom: 0;
    line-height: 1.2;
  }
}

.selection-helper {
  border-bottom: 1px solid $medium-gray;

  &:hover {
    background-color: $selection-helper-hover-color;
  }
}

.selection-helpers-list {

  @include breakpoint(large) {
    @include xy-cell(
      $size:auto,
      $gutter-output: false,
      $vertical: true
    );
    @include xy-cell-block($vertical:true);
  }
}


//
// Helper Toggle/Switch
// --------------------------------------------------
.selection-helper-toggle {
  padding: $selection-helper-margin;

  &:hover {
    cursor: pointer;
    background-color: $selection-helper-hover-color;
  }

  .switch {
    margin: 0 $selection-helper-margin 0 0;

    .switch-paddle, .switch-paddle:after {
      border-radius: 0;
    }

    &.tiny .switch-paddle {
      width: 1.25rem;
    }

    &.tiny .switch-paddle::after {
      width: 0.5rem;
    }

    &.tiny input:checked ~ .switch-paddle::after {
      left: 0.625rem;
    }
  }

  .fa {
    color: $primary-color;
  }
}

//
// Helper Content
// --------------------------------------------------
.selection-helper-content {
  padding: $selection-helper-margin;
}
