.toolbar {
  background-color: $white;
  color: $charcoal;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  height: 60px;
  align-items: center;
  text-align: center;
  z-index: 10;
  display: block;
  padding: 0 0.75rem;

  .top-bar {
    padding: 0;
    height: 100%;
  }

  .top-bar-left, .top-bar-right {
    gap: 0.75rem;
  }

  // TODO - Delete this
  .bar-item {
    display: inline-block;
    position: relative !important;
    line-height: 1.5;
    font-size:  rem-calc(14);
    font-weight: $global-weight-bold;
    margin: 0 10px;
  }

  .button {
    background-color: $white;
    color: $charcoal;
    margin: 0;
    border: 1px solid #AAAFB5;
    border-radius: 5px;
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 0.875rem;
    max-width: 170px;
    padding: 0 0.75rem;

    &:after {
      margin-left: 0.75rem;
      top: 0.05rem;
      border-color: #AAAFB5 transparent transparent;
    }

    &[aria-expanded="true"]:after {
      transform: rotate(180deg);
    }

    &:hover, &.active {
      background-color: rgba(0, 123, 128, 0.15);
      border: 1px solid $teal;
    }
  }

  .button-group {
    margin: 0;

    .button {
      border-radius: 0;
      font-size: 0.625rem;
      
      &:first-of-type {
        border-radius: 5px 0 0 5px;
      }

      &:last-of-type {
        border-radius: 0 5px 5px 0;
      }

      &:hover, &.active {
        background-color: #ECEDEE;
      }
    }
  }

  .dropdown-pane {
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);

    &.button-group .button {
      border: none;
      border-radius: 0;
      width: 100%;
      font-size: 0.875rem;

      &:first-of-type {
        border-radius: 5px 5px 0 0;
      }

      &:last-of-type {
        border-radius: 0 0 5px 5px;
      }

      svg {
        margin: 0 5px 0 0;
        color: $a11y-orange;
      }
    }
  }
}

.toolbar--selector {
  position: relative;
  z-index: 11;
  // background-color: $white;
  font-size: rem-calc(12);
  font-weight: $global-weight-bold;
  box-shadow: 0 4px 0 0 rgba(0,0,0,0.1);

  border-radius: 4px;
  box-shadow: 0 0 0 2px $white;
  display: flex !important;

  li:not(:last-child) {
    border-right: 1px solid $white;
  }

  .dropdown-content a, .dropdown-content li {
    box-shadow: 0 0 0 2px $white;

    &:last-child {
      border-radius: 0 0 4px 4px;
      box-shadow: 0 0 0 2px $white;
      border-bottom: 1px solid $white;
    }
  }

  a {
    // color: $white;
    @include breakpoint(small only) {
      padding-right: 0.75rem;
      padding-left: 0.75rem;
    }
  }
  li:hover, li:active, a:hover, a:active, a.active, .dropdown:hover .dropbtn {
    background-color: $white;
    color: #ae561f;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ae561f;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

  a {
    background-color: #ae561f;
  }
  a:hover, a:active {
    background-color: $white;
    color: #ae561f;
  }
}
.dropdown-content-left {
  a {
    text-align: left;
  }
}
.dropsizer {
  width: 100px;
  position: relative;
  border-radius: 4px;
  border-right: 1px solid $white;
}

ul .menu li.dropdown {
  display: inline-block;
  width: 100px;
}
.dropdown:hover div, .dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropdown-content a {
  position: relative;
}
.dropbtn {
  width: 100px;
  align-items: center;
  height: 100%;
}

#more-options-button {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  width: 150px !important;

  ul, li {
    display: block;
    width: 100%;
    text-align: center;
  }
}

#draw-tools {
  width: 100px;
}

.five-buttons {
  margin-top: -5px;

  li {
    width: 100px;
    // padding: 0px;
    align-items: center;
  }
  li.active {
    background-color: white;
  }
  li.active a {
    color: #ae561f;
    padding: 0;
  }
  li:not(.dropdown):hover a {
    color: #ae561f;
  }
}
#neighborhood, #neighborhood:hover {
  padding: 0;
}

.dropbtn-centered {
  justify-content: center;
}
.dropbtn-left {
  justify-content: left;
}

.map-toolbar {
  // width: 100%;
  // align-items: center;
  // text-align: center;
  // display: flex;
  // flex-wrap: wrap;
  // flex-direction: row;

  

  div#selection-method-dropdown {
    width: 162px;
    padding: 0;
    border-radius: 5px;
  }

  div#more-geographies-dropdown {
    width: 134px;
    padding: 0;
    border-radius: 5px;
  }

  div#add-layers-dropdown {
    width: 325px;
    padding: 0;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: none;
    max-height: calc(100vh - 150px);
    overflow-y: scroll;
  }

  .overlays {
    width: 100%;
    // padding: 0.75rem 0;
    // display: flex;
    // flex-direction: column;
    // gap: 1rem;

    // .layer-toggle-group {
    //   width: 100%;
    //   height: 2.25rem;
    // }
  }
}

.explorer-toolbar {
  & .top-bar-left, & .top-bar-right {
    position: relative;
  }
}

.notification-count {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: #FFC861;
  color: black;
}
