<div class="callout">
  {{population-pyramid data=agePopDist}}
</div>
<table class="text-small">
  <thead>
    <tr>
      <th>Variable Name</th>
      <th>Description</th>
      <th>Estimate</th>
      <th>Margin of Error</th>
      <th>Percent</th>
    </tr>
  </thead>
  <tbody>
    {{#each-in model as |key value|}}
      <tr>
        <td>{{key}}</td>
        <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
        <td></td>
        <td></td>
        <td>Test</td>
      </tr>
    {{/each-in}}
  </tbody>
</table>

{{outlet}}
