<div class="report-header grid-x grid-margin-x align-bottom">
  <div class="cell large-7 xlarge-8">
    <h1>Demographic and Housing Profile</h1>
    <h2 class="header-small dark-gray">Decennial Census, 2010</h2>
  </div>
  <div class="cell large-5 xlarge-4 large-text-right">
    <p class="dark-gray text-tiny">
      <a href="https://www.census.gov/programs-surveys/decennial-census/guidance/2010.html" target="_blank">2010 Census, Summary File 1</a>
    </p>
  </div>
</div>

<hr>

<div class="report-header grid-x grid-margin-x align-bottom">
  <div class="cell large-7 xlarge-8">
    <h1>Demographic and Housing Profile of Change Over Time</h1>
    <h2 class="header-small dark-gray">Decennial Census, 2000-2010</h2>
  </div>
  <div class="cell large-5 xlarge-4 large-text-right">
    <p class="dark-gray text-tiny">
      <a href="https://www.census.gov/programs-surveys/decennial-census/guidance/2010.html" target="_blank">
        2000 Census, Summary File 1</a>
      and
      <a href="https://www.census.gov/programs-surveys/decennial-census/guidance/2000.html" target="_blank">2000 Census, Summary File 1</a>
    </p>
  </div>
</div>

{{outlet}}
