// --------------------------------------------------
// Module: Source Select Dropdown
// --------------------------------------------------

.source-select-toggle {
  width: 500px !important;
  padding: 0.7rem 5px !important;
  border-radius: 5px;
  padding: 11px 5px;
}

.selected-source {
  color: $dark-gray;
}

.source-menu {
  position: absolute;
  top: 100%;
  right: rem-calc(-6);
  bottom: auto;
  left: rem-calc(0);
  background-color: $white;
  padding: 15px;
  box-shadow: 0 4px 0 rgba(0,0,0,0.1);
  width: 500px !important;
  color: $dark-gray;
  border: 1px solid rgb(223, 225, 229);
  border-radius: 5px;
  text-align: left !important;
  z-index: 100;

  .clickable {
    cursor: pointer;
  }
  .disabled {
    color: $light-gray;
  }
}
