// --------------------------------------------------
// Module: Topic Select Dropdown
// --------------------------------------------------

.topic-select-toggle {
  width: 250px !important;
  padding: 11px 5px;
  border-radius: 5px;
}

.topic-count {
  color: $dark-gray;
}

.topic-menu {
  position: absolute;
  top: 100%;
  right: rem-calc(-6);
  bottom: auto;
  left: rem-calc(0);
  background-color: $white;
  padding: rem-calc(6) 0;
  box-shadow: 0 4px 0 rgba(0,0,0,0.1);
  width: 250px !important;
  color: $dark-gray;
  border: 1px solid rgb(223, 225, 229);
  border-radius: 5px;
  text-align: left !important;

  .clickable {
    cursor: pointer;
  }
}

.subtopic-list-item {
  padding-left: 10px !important;
  border-bottom: 0 !important;
}
