<div class="overflow-y-grid grid-padding-x grid-padding-y">
  <div class="cell auto" id="profile-content">

    <div class="grid-container" style="max-width:65em;">
      <div class="grid-x grid-padding-x grid-padding-y">
        <div class="cell">

          <h1>About Population Fact Finder</h1>

          <p class="lead" style="max-width:40em;">Population Fact Finder allows you to easily define study areas &mdash; by selecting Census Tracts, Census Blocks, Neighborhood Tabulation Areas (NTAs), or Public Use Microdata Areas (PUMAs) &mdash; and produce detailed population profiles.</p>

        </div>
        <div class="cell medium-8 large-7">

          <h3 class="header-medium small-margin-bottom">Data</h3>

          <ul>
            <li>data citation</li>
          </ul>

        </div>
        <div class="cell medium-4 large-5">

          <h3 class="header-medium small-margin-bottom">Feedback</h3>

          <p class="text-small">To let NYC Planning Labs know how this app could be better, <a href="https://github.com/NYCPlanning/labs-zola/issues/" target="_blank"><strong>add a GitHub Issue</strong></a>, send Tweet to <a href="https://twitter.com/nycplanninglabs" target="_blank"><strong>@NYCPlanningLabs</strong></a>, or email <a href="mailto:_____@planning.nyc.gov"><strong>_____@planning.nyc.gov</strong></a>.</p>

          {{outlet}}

        </div>
      </div>

    </div>

  </div>
</div>
