<div class="overflow-y-grid grid-padding-x grid-padding-y">
  <div class="cell auto" id="profile-content">

    <div class="grid-container" style="max-width:65em;">
      <div class="grid-x grid-padding-x">
        <div class="cell medium-9">

          <h1>About Population FactFinder</h1>

        </div>
        <div class="cell medium-9">

          <p class="lead">Population FactFinder allows you to easily define study areas within New York City and examine detailed population profiles showing critical demographic, social, economic, and housing statistics, and how these statistics have changed over time.</p>

        </div>
        <div class="cell medium-3">

          {{#link-to 'index' classNames='button large expanded'}}{{fa-icon "plus"}} Define your study&nbsp;area{{/link-to}}

        </div>
        <div class="cell medium-8 large-7" style="margin-top:2rem;">

          {{!-- TODO: Edit this placeholder text! --}}
          <p>New York City Population FactFinder (NYC PFF) provides detailed population and housing profiles for user defined areas within New York City. Using data from decennial censuses and the American Community Survey, the profiles are comprehensive, covering the most basic population statistics, along with detailed social, economic, and housing information. Data for user-defined areas can be easily contrasted against New York City, City boroughs, City Community Districts (approximate equivalents are used), and City neighborhoods (Neighborhood Tabulation Areas). Along with count statistics (like total Spanish-speaking population), users are provided with percent values (like percent of the population with a bachelor’s degree or higher), arithmetic means (like mean travel time to work), rates (like rental housing vacancy rate), and medians (like median household income). NYC PFF profiles can also show how a selected area has changed over time. Further, each profile contains charts allowing users to visualize the distribution of selected statistics, comparing user-defined study areas with a contrast area. All NYC PFF estimates are evaluated for data reliability – unreliable data are grayed out, alerting users of unsuitability for general use. Background reliability statistics can also be further explored.</p>
          <p>Beyond core profiles, users can easily define study areas by drawing boundaries on top of an interactive map of New York City. With the map feature, you can search for particular addresses, places (like City Hall or Chinatown), or allow the application to find your current location. Advanced mapping functions are also available, allowing you to overlay features so you can now map things like the subway network over population density, or the location of a particular school in relation to Community District boundaries. Once a study area has been defined and a profile selected, users can share and save links to their research.</p>
          <p>NYC PFF has been designed for use in mobile devices, so analyses can be conducted on-the-go, and the application has tooltips throughout, providing guidance without necessitating the use of a Help document. Further, the Department of City Planning is committed to transparency in NYC PFF, and has built the application using Open Data and Open Source coding.</p>

        </div>
        <div class="cell medium-4 large-5" style="margin-top:2rem;">

          <!-- Begin MailChimp Signup Form -->
          <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
          <div id="mc_embed_signup" class="callout">
            <form action="https://nyc.us17.list-manage.com/subscribe/post?u=a776404dc64249afedbd7e0df&amp;id=d47dc9a986" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
                <label for="mce-EMAIL">Subscribe for future updates</label>
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a776404dc64249afedbd7e0df_d47dc9a986" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button no-margin"></div>
              </div>
            </form>
          </div>
          <!--End mc_embed_signup-->

          <h3 class="header-medium">Feedback</h3>

          <p>To let NYC Planning Labs know how this app could be better, <a href="https://github.com/NYCPlanning/labs-nyc-factfinder/issues/" target="_blank"><strong>add a GitHub Issue</strong></a>, send Tweet to <a href="https://twitter.com/nycplanninglabs" target="_blank"><strong>@NYCPlanningLabs</strong></a>, or email <a href="mailto:pff_dl@planning.nyc.gov"><strong>pff_dl@planning.nyc.gov</strong></a>.</p>

          <hr>

          <h3 class="header-small">How was this website made?</h3>

          <p class="text-small">Population FactFinder was built using <a href="https://en.wikipedia.org/wiki/Open-source_software" target="_blank">free and open source software</a> by <a href="https://planninglabs.nyc" target="_blank">NYC Planning Labs</a> working closely with DCP's Population Division. It’s a single-page application (SPA) built using the <a href="https://www.emberjs.com/" target="_blank">Ember</a> JavaScript framework. The frontend application consumes a variety of APIs that serve map tiles, data, and content.</p>

          <p class="text-small">We make use of the <a href="http://foundation.zurb.com/" target="_blank">Foundation for Sites</a> framework for layout and styling. Web maps on the profiles are built using <a href="https://www.mapbox.com/mapbox-gl-js/api/" target="_blank">Mapbox GL</a>, creating smooth-scaling vector-based maps with intricate control of styling. Interactive charts are built using <a href="https://d3js.org/" target="_blank">D3.js</a>.</p>

          <p class="text-small">The <a href="https://github.com/nycplanning/labs-nyc-factfinder/" target="_blank">project repository</a> is on GitHub, where we encourage users to report bugs and feature requests by <a href="https://github.com/nycplanning/labs-nyc-factfinder/issues" target="_blank">creating new issues</a>.</p>


          {{outlet}}

        </div>
      </div>

    </div>

  </div>
</div>
