<div class="overflow-y-grid grid-padding-x grid-padding-y">
  <div class="cell auto" id="profile-content">

    <div class="grid-container" style="max-width:65em;">
      <div class="grid-x grid-padding-x">
        <div class="cell medium-9">

          <h1>About Population Fact Finder</h1>

        </div>
        <div class="cell medium-9">

          <p class="lead">Population Fact Finder allows you to easily define study areas &mdash; by selecting Census Tracts, Census Blocks, Neighborhood Tabulation Areas (NTAs), or Public Use Microdata Areas (PUMAs) &mdash; and produce detailed population profiles.</p>

        </div>
        <div class="cell medium-3">

          {{#link-to 'index' classNames='button large expanded'}}{{fa-icon "plus"}} Define your study&nbsp;area{{/link-to}}

        </div>
        <div class="cell medium-8 large-7" style="margin-top:2rem;">

          {{!-- TODO: Edit this placeholder text! --}}
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

        </div>
        <div class="cell medium-4 large-5" style="margin-top:2rem;">

          <h3 class="header-medium">Feedback</h3>

          <p>To let NYC Planning Labs know how this app could be better, <a href="https://github.com/NYCPlanning/labs-nyc-factfinder/issues/" target="_blank"><strong>add a GitHub Issue</strong></a>, send Tweet to <a href="https://twitter.com/nycplanninglabs" target="_blank"><strong>@NYCPlanningLabs</strong></a>, or email <a href="mailto:pff_dl@planning.nyc.gov"><strong>pff_dl@planning.nyc.gov</strong></a>.</p>

          <hr>

          <h3 class="header-small">How was this website made?</h3>

          <p class="text-small">Population Fact Finder was built using <a href="https://en.wikipedia.org/wiki/Open-source_software" target="_blank">free and open source software</a> by <a href="https://planninglabs.nyc" target="_blank">NYC Planning Labs</a> working closely with DCP's Population Division. It’s a single-page application (SPA) built using the <a href="https://www.emberjs.com/" target="_blank">Ember</a> JavaScript framework. The frontend application consumes a variety of APIs that serve map tiles, data, and content.</p>

          <p class="text-small">We make use of the <a href="http://foundation.zurb.com/" target="_blank">Foundation for Sites</a> framework for layout and styling. Web maps on the profiles are built using <a href="https://www.mapbox.com/mapbox-gl-js/api/" target="_blank">Mapbox GL</a>, creating smooth-scaling vector-based maps with intricate control of styling. Interactive charts are built using <a href="https://d3js.org/" target="_blank">D3.js</a>.</p>

          <p class="text-small">The <a href="https://github.com/nycplanning/labs-nyc-factfinder/" target="_blank">project repository</a> is on GitHub, where we encourage users to report bugs and feature requests by <a href="https://github.com/nycplanning/labs-nyc-factfinder/issues" target="_blank">creating new issues</a>.</p>


          {{outlet}}

        </div>
      </div>

    </div>

  </div>
</div>
