<OrangeBar>
  <OrangeBarDataExplorer
    @topics={{this.topics}}
    @setTopics={{this.setTopics}}
  />
</OrangeBar>

<div class="overflow-y-grid grid-padding-x">
  <div class="cell auto" id="explorer-wrapper">
    {{#each this.topics as |topic|}}
      {{#each topic.children as |subtopic|}}
        {{#if subtopic.selected}}
          <div class="grid-x grid-margin-x">
            <div class="cell large-auto">
              <h3 class="header-medium">
                {{subtopic.label}}
              </h3>
              {{data-table
                mode='current'
                reliability=false
                comparison=false
                config=subtopic.config
                model=@model.profile
              }}
            </div>
          </div>

          <hr>
        {{/if}}
      {{/each}}
    {{/each}}
  </div>
</div>