<div class="loading-wrapper">
  <PageLoadAnimation />
  <div style="display:grid;place-items:center center;">
    <h1>Loading in Progress</h1>
    <p>This may take a few moments...</p>
  </div>
</div>
