<div class="overflow-y-grid grid-padding-x" id="explorer-wrapper">
  <div class="cell shrink">
    Data Explorer
  </div>
  <div class="cell auto" id="explorer-content">
    {{outlet}}
  </div>
</div>
