<div class="loading-wrapper">
  <lottie-player
    src="/dcp-loading-screen.json"
    background="transparent"
    speed="1"
    style="width:500px; height:500px;"
    mode="normal"
    loop
    autoplay
  >
  </lottie-player>
  <div class="explorer-loading">
    <h1>Loading in Progress</h1>
    <p>This may take a few moments...</p>
  </div>
</div>
