<div class="overflow-y-grid grid-padding-x grid-padding-y">
  <div class="cell auto" id="profile-content">

    <div class="grid-container" style="max-width:65em;">
      <div class="grid-x grid-padding-x">
        <div class="cell large-10">

          <h1>Features</h1>

          <h2 class="header-medium">Feature Number One</h2>
          <div class="grid-x">
            <div class="cell medium-3 large-2 feature-image-cell">
              {{!-- TODO: Edit this placeholder image! --}}
              <img src="http://via.placeholder.com/400x400" class="feature-image">
            </div>
            <div class="cell medium-9 large-10">
              {{!-- TODO: Edit this placeholder text! --}}
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            </div>
          </div>

          <h2 class="header-medium">Feature Number Two</h2>
          <div class="grid-x">
            <div class="cell medium-3 large-2 feature-image-cell">
              {{!-- TODO: Edit this placeholder image! --}}
              <img src="http://via.placeholder.com/400x400" class="feature-image">
            </div>
            <div class="cell medium-9 large-10">
              {{!-- TODO: Edit this placeholder text! --}}
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            </div>
          </div>

          <h2 class="header-medium">Feature Number Three</h2>
          <div class="grid-x">
            <div class="cell medium-3 large-2 feature-image-cell">
              {{!-- TODO: Edit this placeholder image! --}}
              <img src="http://via.placeholder.com/400x400" class="feature-image">
            </div>
            <div class="cell medium-9 large-10">
              {{!-- TODO: Edit this placeholder text! --}}
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            </div>
          </div>

          {{outlet}}

        </div>
      </div>
    </div>

  </div>
</div>
