<div class="overflow-y-grid grid-padding-x grid-padding-y">
  <div class="cell auto" id="profile-content">

    <div class="grid-container" style="max-width:65em;">
      <div class="grid-x grid-padding-x">
        <div class="cell large-10">

          <h1>Features</h1>

          <h2 class="header-medium">Map View</h2>
          <p>The Map View allows users to select areas that they would like to create profiles for. Further, users can examine geographic characteristics that may inform the selection of areas to be profiled. (For example, a user can locate the tract in which a particular address may be found by using the Search feature in conjunction with the Census Tract Geographic Summary Level.)</p>
          </div>

          <h3 class="header-medium">Geographic Summary Level</h3>
          <div class="grid-x">
            <div class="cell medium-3 large-2 feature-image-cell">
              {{!-- TODO: Edit this placeholder image! --}}
              <img src="http://via.placeholder.com/400x400" class="feature-image">
            </div>
            <div class="cell medium-9 large-10">
              <p>Users have four options of geographic summary levels: Census Blocks, Census Tracts, Neighborhood Tabulation Areas (NTAs), or Public Use Microdata Areas (PUMAs). NYC Population FactFinder will provide profiles for all selections made within a specific geographic summary level.</p>
            </div>
          </div>

          <h3 class="header-medium">Search</h3>
          <div class="grid-x">
            <div class="cell medium-3 large-2 feature-image-cell">
              {{!-- TODO: Edit this placeholder image! --}}
              <img src="http://via.placeholder.com/400x400" class="feature-image">
            </div>
            <div class="cell medium-9 large-10">
              <p>The Search input provides various types of results as you type. Search for known addresses, specific buildings (like the American Museum of Natural History), subway stops (like Broadway Junction), and neighborhoods (like Crown Heights).</p>
            </div>
          </div>

          <h3 class="header-medium">Selection (click on geography)</h3>
          <div class="grid-x">
            <div class="cell medium-3 large-2 feature-image-cell">
              {{!-- TODO: Edit this placeholder image! --}}
              <img src="http://via.placeholder.com/400x400" class="feature-image">
            </div>
            <div class="cell medium-9 large-10">
              <p>The Selection feature adds geographies (like census tracts) for inclusion in profile output. Once a selection has been made, users can go to the Profile View to examine the population, socioeconomic, and housing characteristics. Users can add to a selected area by left-clicking on unselected geographies. Users can remove geographies from a selection by left-clicking on selected geographies.</p>
            </div>
          </div>
          
          <h3 class="header-medium">Clear Selection</h3>
          <div class="grid-x">
            <div class="cell medium-3 large-2 feature-image-cell">
              {{!-- TODO: Edit this placeholder image! --}}
              <img src="http://via.placeholder.com/400x400" class="feature-image">
            </div>
            <div class="cell medium-9 large-10">
              <p>The Clear Selection feature removes all geographies from a selection.</p>
            </div>
          </div>
          
          <h3 class="header-medium">Draw</h3>
          <div class="grid-x">
            <div class="cell medium-3 large-2 feature-image-cell">
              {{!-- TODO: Edit this placeholder image! --}}
              <img src="http://via.placeholder.com/400x400" class="feature-image">
            </div>
            <div class="cell medium-9 large-10">
              <p>The Draw tool selects geographies based on a user-defined polygon. Users can create polygon vertices by left-clicking and can define a final vertex by double-clicking.</p>
            </div>
          </div>
          
          <h3 class="header-medium">View Profile</h3>
          <div class="grid-x">
            <div class="cell medium-3 large-2 feature-image-cell">
              {{!-- TODO: Edit this placeholder image! --}}
              <img src="http://via.placeholder.com/400x400" class="feature-image">
            </div>
            <div class="cell medium-9 large-10">
              <p>The View Profile feature takes users to the Profile View.</p>
            </div>
          </div>          

          <h3 class="header-medium">Advanced Options</h3>
          <div class="grid-x">
            <div class="cell medium-3 large-2 feature-image-cell">
              {{!-- TODO: Edit this placeholder image! --}}
              <img src="http://via.placeholder.com/400x400" class="feature-image">
            </div>
            <div class="cell medium-9 large-10">
              <p>Advanced Options encompass features that can inform a user’s geographic selection. The Thematic Maps feature provides users with Neighborhood Tabulation Area overlay maps for selected variables. Other overlay features include: Subway System (showing an overlay of all subway lines and stations), Community District (CD) boundaries, New York City Council District boundaries, Neighborhood Tabulation Area (NTA) boundaries, Public Use Microdata Area (PUMA) boundaries, and Borough boundaries.</p>
            </div>
          </div>          

          <h3 class="header-medium">Advanced Map Controls-- zoom, tilt, rotate</h3>
          <div class="grid-x">
            <div class="cell medium-3 large-2 feature-image-cell">
              {{!-- TODO: Edit this placeholder image! --}}
              <img src="http://via.placeholder.com/400x400" class="feature-image">
            </div>
            <div class="cell medium-9 large-10">
              <p>Next-generation web mapping technology used in NYC Population FactFinder allows you to fine tune the map's zoom, tilt, and rotation. Use the scrollwheel to zoom, hold Ctrl while dragging the map to adjust pitch and bearing. Click the compass icon to reset north.</p>
            </div>
          </div>          

          <h3 class="header-medium">Find my Location</h3>
          <div class="grid-x">
            <div class="cell medium-3 large-2 feature-image-cell">
              {{!-- TODO: Edit this placeholder image! --}}
              <img src="http://via.placeholder.com/400x400" class="feature-image">
            </div>
            <div class="cell medium-9 large-10">
              <p>Click the locator control and the map will zoom in on your current location (you may need to give permission via your web browser). This feature works great on mobile, so you can quickly lookup population and housing data on the go.</p>
            </div>
          </div>          

          <h2 class="header-medium">Profile View</h2>
          <p>The Profile View allows users to examine all data output for their selected area.</p>
          </div>

          <h3 class="header-medium">Profile Tabs</h3>
          <div class="grid-x">
            <div class="cell medium-3 large-2 feature-image-cell">
              {{!-- TODO: Edit this placeholder image! --}}
              <img src="http://via.placeholder.com/400x400" class="feature-image">
            </div>
            <div class="cell medium-9 large-10">
              <p>Profile Tabs permit users to switch between different data sources and profile types – There are five profile tabs: Census – showing basic demographic and housing data from the decennial censuses); Demographic (ACS) – providing users with basic population statistics from the American Community Survey; Social (ACS) – social characteristics from the American Community Survey; Economic (ACS) – economic characteristics from the American Community Survey; and Housing (ACS) – detailed housing characteristics from the American Community Survey.</p>
            </div>
          </div>          

          <h3 class="header-medium">Current View</h3>
          </div>  

          <h4 class="header-medium">Four ACS Profile Tabs</h4>
          <div class="grid-x">
            <div class="cell medium-3 large-2 feature-image-cell">
              {{!-- TODO: Edit this placeholder image! --}}
              <img src="http://via.placeholder.com/400x400" class="feature-image">
            </div>
            <div class="cell medium-9 large-10">
              <p>This radio button feature shows data for the latest American Community Survey five-year period estimates (2012-2016, ACS Summary File)</p>
            </div>
          </div>          

          <h4 class="header-medium">Census Profile Tab</h4>
          <div class="grid-x">
            <div class="cell medium-3 large-2 feature-image-cell">
              {{!-- TODO: Edit this placeholder image! --}}
              <img src="http://via.placeholder.com/400x400" class="feature-image">
            </div>
            <div class="cell medium-9 large-10">
              <p>This radio button feature shows the latest Decennial Census statistics (Census 2010, Summary File 1)</p>
            </div>
          </div>          

          <h3 class="header-medium">Change Over Time</h3>
          <div class="grid-x">
            <div class="cell medium-3 large-2 feature-image-cell">
              {{!-- TODO: Edit this placeholder image! --}}
              <img src="http://via.placeholder.com/400x400" class="feature-image">
            </div>
            <div class="cell medium-9 large-10">
              <p>This radio button feature switches the profile to show how a selected area has changed over time. In the Census Profile Tab, change is shown from 2000 to 2010. In the four ACS profiles, change is from the 2006-2010 five-year estimates to the 2012-2016 five-year estimates.</p>
            </div>
          </div>          

          <h3 class="header-medium">Comparison Area</h3>
          <div class="grid-x">
            <div class="cell medium-3 large-2 feature-image-cell">
              {{!-- TODO: Edit this placeholder image! --}}
              <img src="http://via.placeholder.com/400x400" class="feature-image">
            </div>
            <div class="cell medium-9 large-10">
              <p>The Comparison Area is the geography chosen to provide a contrast to the Selected Area. This Comparison Area is selected through the Compare to drop-down menu.</p>
            </div>
          </div>

          <h3 class="header-medium">Charts</h3>
          <div class="grid-x">
            <div class="cell medium-3 large-2 feature-image-cell">
              {{!-- TODO: Edit this placeholder image! --}}
              <img src="http://via.placeholder.com/400x400" class="feature-image">
            </div>
            <div class="cell medium-9 large-10">
              <p>Charts are provided for a selected number of topic areas on all Profile Tabs. The charts show a distribution of variables across a base universe for the Selected Area. The distribution for the Selected Area is shown in contrast to the distribution for the Comparison Area. Charts appearing in ACS tabs include Margins of Error bars. (In general, if error bars around an estimate for the Selected Area does not overlap with the error bars around an estimate for the Comparison Area, then the difference between the two estimates is statistically significant at a 90% confidence level.)</p>
            </div>
          </div>          

          <h3 class="header-medium">Drop-down List on Profile Tabs</h3>
          <div class="grid-x">
            <div class="cell medium-3 large-2 feature-image-cell">
              {{!-- TODO: Edit this placeholder image! --}}
              <img src="http://via.placeholder.com/400x400" class="feature-image">
            </div>
            <div class="cell medium-9 large-10">
              <p>This feature allows users to jump to particular profile sections.</p>
            </div>
          </div>

          <h3 class="header-medium">Show Data Reliability</h3>
          <div class="grid-x">
            <div class="cell medium-3 large-2 feature-image-cell">
              {{!-- TODO: Edit this placeholder image! --}}
              <img src="http://via.placeholder.com/400x400" class="feature-image">
            </div>
            <div class="cell medium-9 large-10">
              <p>The Show Data Reliability feature expands the output shown on the four ACS profiles to reveal reliability measures associated with estimates – reliability measures include margins of error (MOEs) and Coefficients of Variation (CVs). Because data from the American Community Survey are derived from a survey, and are subject to sampling variability, measures of reliability help users gauge the consistency of the ACS and, ultimately, the degree to which they can trust any given statistic.</p>
            </div>
          </div>
          
          <h3 class="header-medium">Grayed Values</h3>
          <div class="grid-x">
            <div class="cell medium-3 large-2 feature-image-cell">
              {{!-- TODO: Edit this placeholder image! --}}
              <img src="http://via.placeholder.com/400x400" class="feature-image">
            </div>
            <div class="cell medium-9 large-10">
              <p>All four ACS profiles may include grayed values. When a value is grayed, it means that it is not statistically reliable enough for most applications. For estimates and MOEs with a CV, graying is an indication that the CV is greater than or equal to 20%. Data associated with count estimates of zero and top- and bottom-coded median estimates are also grayed to alert users that data are either unreliable, or of indeterminate reliability. Estimates and MOEs of differences between two areas and change over time for a selected area may also be grayed. Such graying indicates that the estimates are not statistically significant at a 90% confidence level.</p>
            </div>
          </div> 

          <h3 class="header-medium">Sharable Links</h3>
          <div class="grid-x">
            <div class="cell medium-3 large-2 feature-image-cell">
              {{!-- TODO: Edit this placeholder image! --}}
              <img src="http://via.placeholder.com/400x400" class="feature-image">
            </div>
            <div class="cell medium-9 large-10">
              <p>Every user-defined Selected Area has a unique URL, specific to particular Profile Tabs. Consequently, users can share links, or save a link so that they can return to a selection later.</p>
            </div>
          </div> 
          
          <h3 class="header-medium">Back to Top Button</h3>
          <div class="grid-x">
            <div class="cell medium-3 large-2 feature-image-cell">
              {{!-- TODO: Edit this placeholder image! --}}
              <img src="http://via.placeholder.com/400x400" class="feature-image">
            </div>
            <div class="cell medium-9 large-10">
              <p>This features allows users to jump to the top of the page without scrolling.</p>
            </div>
          </div> 

          <h3 class="header-medium">Back to Map View (all methods)</h3>
          <div class="grid-x">
            <div class="cell medium-3 large-2 feature-image-cell">
              {{!-- TODO: Edit this placeholder image! --}}
              <img src="http://via.placeholder.com/400x400" class="feature-image">
            </div>
            <div class="cell medium-9 large-10">
              <p>Users can return to the Map View by clicking on the Back to Map button, by clicking on the Edit Selection button, or by navigating to the last Map View page through their web browser.</p>
            </div>
          </div> 

          <h3 class="header-medium">Copy Table to Clipboard</h3>
          <div class="grid-x">
            <div class="cell medium-3 large-2 feature-image-cell">
              {{!-- TODO: Edit this placeholder image! --}}
              <img src="http://via.placeholder.com/400x400" class="feature-image">
            </div>
            <div class="cell medium-9 large-10">
              <p>The Copy Table to Clipboard feature allows users to copy sections of profiles and paste into selected applications.</p>
            </div>
          </div> 

          <h3 class="header-medium">Download Data (CSV)</h3>
          <div class="grid-x">
            <div class="cell medium-3 large-2 feature-image-cell">
              {{!-- TODO: Edit this placeholder image! --}}
              <img src="http://via.placeholder.com/400x400" class="feature-image">
            </div>
            <div class="cell medium-9 large-10">
              <p>By clicking on the Download Data (CSV) button, users can download a comma delimited file (CSV) for all data shown in a given Profile Tab.</p>
            </div>
          </div> 
          
          <h2 class="header-medium">Other Features</h2>
          </div>
          
          <h3 class="header-medium">Integrated Metadata</h3>
          <div class="grid-x">
            <div class="cell medium-3 large-2 feature-image-cell">
              {{!-- TODO: Edit this placeholder image! --}}
              <img src="http://via.placeholder.com/400x400" class="feature-image">
            </div>
            <div class="cell medium-9 large-10">
              <p>Tooltips can be found throughout NYC Population FactFinder to provide guidance on selected aspects.</p>
            </div>
          </div> 

          <h3 class="header-medium">Open Data</h3>
          <div class="grid-x">
            <div class="cell medium-3 large-2 feature-image-cell">
              {{!-- TODO: Edit this placeholder image! --}}
              <img src="http://via.placeholder.com/400x400" class="feature-image">
            </div>
            <div class="cell medium-9 large-10">
              <p>NYC Population FactFinder is built entirely on open data. The data page provides dataset descriptions, source links, and a timestamp of the last update.</p>
            </div>
          </div> 

          <h3 class="header-medium">Open Source</h3>
          <div class="grid-x">
            <div class="cell medium-3 large-2 feature-image-cell">
              {{!-- TODO: Edit this placeholder image! --}}
              <img src="http://via.placeholder.com/400x400" class="feature-image">
            </div>
            <div class="cell medium-9 large-10">
              <p>As with most NYC Planning Labs projects, NYC Population FactFinder (PFF) is 100% open source and developed in the open. You can follow along on GitHub, and help improve PFF by opening issues to report bugs or request features. If you’re a developer and want to contribute to PFF, we will gladly accept pull requests.</p>
            </div>
          </div> 
          
          {{outlet}}

        </div>
      </div>
    </div>

  </div>
</div>
