<div class="spinner">
  <p>new loading</p>
  {{log 'are we transitioning From Map Page? 'this.transitioningFromMapPage}}
  {{#if this.transitioningFromMapPage }}
    <p>we are transitioning from the homepage</p>
  {{/if}}
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div>
