<div class="grid-x grid-padding-x grid-padding-y">
  <div class="cell large-8">
    <h1>Report: [geographies array]</h1>

    <ul class="menu tabs vertical medium-horizontal expanded text-center" data-tabs>
      <li class=""><a href="#">Census</a></li>
      <li class="is-active"><a href="#" aria-selected="true">Demographic</a></li>
      <li class=""><a href="#">Social</a></li>
      <li class=""><a href="#">Economic</a></li>
      <li class=""><a href="#">Housing</a></li>
    </ul>

  </div>
  <div class="cell large-4">
    <div class="report-map-container">
      {{#jane-maps
        id='map'
        sources=sources
        initOptions=(hash style='mapbox://styles/mapbox/light-v9'
                          zoom=zoom
                          center=center
                          hash=true)
        mapLoaded=(action 'handleMapLoad')

        as |map|}}

        {{#if selection.current}}
          {{#map.source
            sourceId='selected-features'
            options=selectedSource as |source|}}
            {{source.layer
              layer=selectedFillLayer
              before='waterway-label'}}
            {{source.layer
              layer=selectedLineLayer
              before='waterway-label'}}
          {{/map.source}}
        {{/if}}

      {{/jane-maps}}
    </div>
  </div>
</div>
{{outlet}}
