{{!-- <div class="responsive-embed widescreen">
	<iframe width="100%" height="100%" src="https://www.youtube.com/embed/iSeJ-APuiH8" frameborder="0" allowfullscreen></iframe>
</div>

 --}}
<div>
    <iframe src="https://www.youtube.com/embed/iSeJ-APuiH8" height="315" width="560" allowfullscreen="" frameborder="0">
    </iframe>
</div>

{{outlet}}

{{!-- 
https://www.smashingmagazine.com/2014/02/making-embedded-content-work-in-responsive-design/

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
 --}}